MONGODB_URI=                                                                              
PORT=
FRONTEND_URL=
GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_FROM=
NOTIFICATION_EMAIL=
NODE_ENV=